@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

@font-face {
  font-family: "Neuropol";
  src: local("Neuropol"),
    url("/fonts/Neuropol.otf") format("truetype");
}

@font-face {
  font-family: "Mokoto";
  src: local("Mokoto"),
    url("/fonts/Mokoto_Demo.ttf") format("truetype");
}

@layer base {
  html {
    font-family: 'Mokoto', Arial;
  }

  #expand-settings {
    //border-bottom: 1px solid red;
    transform: scaleY(0);
    transform-origin: top;
    height: auto;
    max-height: 0;
    transition: transform 0.5s ease-in-out 0s;

  }

  #expand-settings.expanded {
    //background-color: green;
    transform: scaleY(1);
    transform-origin: top;
    height: auto;
    max-height: inherit;
  }
}

@theme {
  --animate-gradient: gradient 10s ease-in-out infinite;
  @keyframes gradient {
    0% 100% {
      background-position: 100% 0%;
    }
    20% 60% {
      background-position: 50% 50%;
    }
    40% {
      background-position: 0% 100%;
    }
    80% {
      background-position: 100% 0%;
    }
  }
  --font-size: 1rem;
  --font-title: 'Neuropol', Arial;


  @keyframes settings-scene {
    from {background-color: red;}
    to {background-color: yellow;}
  }


}

@plugin "daisyui/theme" {
  name: "mine";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(14% 0.004 49.25);
  --color-base-200: oklch(21% 0.006 56.043);
  --color-base-300: oklch(26% 0.007 34.298);
  --color-base-400: oklch(30% 0.007 34.298);
  --color-base-content: oklch(97% 0.001 106.424);
  --color-primary: oklch(64% 0.246 16.439);
  --color-primary-content: oklch(26% 0.079 36.259);
  --color-secondary: oklch(54% 0.245 262.881);
  --color-secondary-content: oklch(97% 0.014 254.604);
  --color-accent: oklch(0.9 0.1834 99.12);
  --color-accent-content: oklch(12% 0.042 264.695);
  --color-neutral: oklch(14% 0.004 49.25);
  --color-neutral-content: oklch(98% 0.001 106.423);
  --color-info: oklch(70% 0.165 254.624);
  --color-info-content: oklch(28% 0.091 267.935);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(26% 0.051 172.552);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(28% 0.066 53.813);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(25% 0.092 26.042);
  --radius-selector: 0rem;
  --radius-field: 1rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 1;
  --noise: 0;
}

audio {
  font-size: 4rem;
  width: 100%;
  min-width: 150px;
}

audio::-webkit-media-controls-enclosure {
    background-color: var(--color-base-100);

}
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
  font-family: 'Mokoto', Arial;
}